$blue: #4285F4;

@import 'bulma';

* {
  box-sizing: border-box;
}

.tile {
  background: #F5F5F5;
}

h1 {
  font-size: 3em;
}

@media (max-width: 500px) {
  .tile {
    .is-parent {
      padding: 4rem 2.5rem;
    }
    .is-child {
      min-height: 26rem;

    }
  }
  .column {
    padding: 2.75rem;
  }
}

nav {
  a {
    font-size: 1.5em;
    color: $blue;
  }
  .button {
    background-color: $blue;
    color: #FFF;
  }
}

.tile {
  border-radius: 10px;
  .title {
    font-size: 1em;
  }
  .title-wrapper {
    height: 2em;
  }
  img {
    height: 18em;
  }
  .subtitle {
    height: 1em;
    margin: .5em;
  }
  .button {
    margin: 0.5em auto;
    float: right;
  }
}

// .image-wrapper, .info-wrapper {
//   display: inline;
// }

.image-wrapper {
  float: left;
  img {
    width: 80%;
    margin: 1em;
  }
}

.info-wrapper {
  float: right;
  margin: 1em;
  width: 50%;
}

h2 {
  font-size: 2em;
  color: $blue;
}

.blue {
  color: $blue;
  margin: 0 0 0 1.5em;
}



















