<a class="blue" href="#/">Go Home</a>

<h2>Favorites Page</h2>  

<ul class="columns is-multiline">
  <li class="column is-4" ng-repeat="favorite in faves.favorites">
      <div class="tile is-parent">
        <article class="tile is-child is-info">
          <p class="title">{{ favorite.Title }}</p>
          <p class="subtitle">{{ favorite.Year }}</p>
          <figure class="image">
            <img ng-src="{{ favorite.Poster }}">
          </figure>
        </article>
      </div>
  </li>
</ul>