  


  <nav class="nav">
    <div class="nav-left">
      <a href="#!/favorites">Go To Favorites</a>
    </div>
    <div class="nav-right">
      <form class="query-form" ng-submit="home.findMovies(query)">
        <div class="control is-grouped">
          <input class="input" type="text" name="search-text" ng-model="query" placeholder="Star Wars">
          <p class="control">
            <button class="button" type="submit" value="Find Movies">Search</button>
          </p>

        </div>
      </form>
    </div>
  </nav>

  <ul class="columns is-multiline">
    <li class="column is-3" ng-repeat="movie in home.movies">
      <a href="#!/movie/{{ movie.imdbID }}">
        <div class="tile is-parent">
          <article class="tile is-child is-info">
            <div class="title-wrapper">
              <p class="title">{{ movie.Title }}</p>
            </div>
            <p class="subtitle">{{ movie.Year }}</p>
            <figure class="image">
              <img ng-src="{{ movie.Poster }}">
            </figure>
            <button ng-click="home.addNewFavorite(movie)" class="button is-success">
              <span class="icon is-small">
                <i class="fa fa-check"></i>
              </span>
              <span>Save</span>
            </button>
          </article>
        </div>
      </a>         
    </li>
  </ul>




