  
  <h1>Movie App</h1>

  <nav class="nav">
    <div class="nav-center">
      <form class="query-form" ng-submit="home.findMovies(query)">
        <input class="input" type="search" name="search-text" ng-model="query" placeholder="Star Wars">
        <div class="control is-grouped">
        <p class="control">
          <input type="submit" value="Find Movies">
        </p>

        </div>
      </form>
    </div>
  </nav>

  <ul>
      <li ng-repeat="movie in home.movies">
        <a href="#!/movie/{{ movie.imdbID }}">
          <p>{{movie.Title}}{{movie.Year}}</p>
        </a>  
      </li>
  </ul>



